@font-face {
  font-family: 'TiejiliSC Regular';
  src: url('./fonts/TiejiliSC-Regular.woff2') format('opentype');
         
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
     font-family: 'TiejiliSC Regular', sans-serif;
     font-size:62.5%;
     

}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin:0;
}
.container{
  width:40%;
  height: 20%;
  background-color:transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.info-panel{
  position: absolute;
  top:0;
  width:10rem;
  height: 6rem;
  background-color: paleturquoise;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}
#custom-slider{
  width:90%;
  appearance: none;
  background: transparent;

 
}
#custom-slider::-webkit-slider-runnable-track{
  background: plum;
  height: 2rem;
  border-radius: 1rem;
}
#custom-slider::-webkit-slider-thumb{
  background: orange;
  width:3rem;
  height: 3rem;
  border-radius: 50%;
  appearance: none;
  margin-top:-0.5rem;
 
}