@font-face {
  font-family: 'SarasaMonoSC-Bold';
  src: url('/fonts/SarasaMonoSC-Bold.ttf') format('truetype');
         
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
     font-family: 'SarasaMonoSC-Bold', sans-serif;
     font-size:62.5%;
     

}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin:0;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50rem;
  height: 60rem;
  background-color: orange;
  border-radius: 2rem;

}
.quiz-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  
  gap:2rem;
  font-size:2rem;
  position: relative;
  top:5rem;
}
.quiz-container h2{
  font-size: 4rem;
  position: absolute;
  top:1rem;
}
.quiz-container ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  width: 80%;
  
}
.quiz-container ul li{
  display: flex;
  justify-content: left;
  align-items: center;
  gap:2rem;
  
}
.quiz-container ul li input{
  width: 2rem;
  height: 2rem;
  position: relative;
}


#submit{
  border: none;
  background-color: pink;
  font-family: inherit;
  font-size:3rem;
  width:100%;
  height: 20%;
  border-radius: 0 0 2rem 2rem;
  cursor: pointer;
}
#submit:active{
  background-color: palevioletred;
}
