@font-face {
  font-family: 'TiejiliSC Regular';
  src: url('/fonts/TiejiliSC-Regular.otf') format('opentype');
         
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
     font-family: 'TiejiliSC Regular', sans-serif;
     font-size:62.5%;
     

}
body{
  background-color: rgb(121, 74, 99);
}

.container{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  
  font-size: 2rem;
  width:40rem;
  height: 40rem;
  background-color: rgba(182, 167, 168, 0.8);
  border-radius: 2rem;
  padding: 2rem 4rem;

}
.container h1{
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 3rem;
  margin-left:3rem;
}
.container a{
  text-decoration: none;
  color:brown;
}
.form-control{
  margin:1rem 0 1rem;
  position: relative;

}
.form-control input{
  width:100%;
  display: block;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid brown;
  margin:2rem 0 2rem;
  height:5rem;
  font-size:2rem;
}
.form-control input:focus,.form-control input:valid{
  outline: none;
}
.form-control label{
  position: absolute;
  top:25%;
  left:0;
  transition: all 0.3s ease;

}
.form-control label span{
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    transform: translateY(0);
}
.form-control label span.active{
  transform: translateY(-20px);
  color: rgb(192, 35, 35);
}

.container button{
  font-family: inherit;
  font-size:2rem;
  background-color: rgb(118, 121, 178);
  

  color:white;
  width:100%;
  display: inline-block;
  border:none;
  cursor: pointer;
  border-radius: 2rem;
  padding:0.4rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  transition: transform 0.3s ease;
}
.container button:hover{
  background-color: rgb(65, 65, 148);
}
.container button:active{
  transform: scale(0.85);

}
.container p{
  text-align: center;
  margin-bottom: 0.3rem;
}
