@font-face {
    font-family: 'SarasaMonoSC-Bold';
    src: url('/fonts/SarasaMonoSC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'SarasaMonoSC-Bold', sans-serif;
    font-size: 62.5%;
}

body {
  margin:0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.counter{
    /* 调试用的注释, 可以删除 */
    /* background-color: antiquewhite; */
    width:25rem;
    height: 5rem;
    font-size:5rem;
    text-align: center;
    margin-bottom:2rem;
    position: relative;
    overflow: hidden;



}
.counter span{
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(120deg);
    transform-origin: bottom center;
 
    

}
.counter span.in{
    animation:in-out 1s ease-in-out
}
@keyframes in-out{
    0%{
        transform: translate(-50%,-50%) rotate(120deg);
    
    }
    30%{
        transform: translate(-50%,-50%) rotate(-10deg);
     
    }
    60%{
        transform:translate(-50%,-50%) rotate(10deg) ;

    }
    80%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(-120deg);
    }
}


h1{
    transform: scale(0);
  
}
h1.show{
    position: fixed;
    top:46.3%;
    left:50.5%;
    transform: translate(-50%,-50%);
    font-size: 5rem;
    transition: transform 0.5s ease;
    
 
}
h1.hide{
    transform: scale(0);
    opacity: 0;
}



#replay{
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: pink;
    padding:2rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
#replay:active{
    background-color: palevioletred;
    transform: scale(0.9);
}
