@font-face {
  font-family: 'SarasaMonoSC-Bold';
  src: url('/fonts/SarasaMonoSC-Bold.ttf') format('truetype');
         
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
     font-family: 'SarasaMonoSC-Bold', sans-serif;
     font-size:62.5%;
     

}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin:0;
  background-color: darksalmon;
}
h3{
  font-size:3rem;
  color:white;
}