@font-face {
  font-family: 'SarasaMonoSC-Bold';
  src: url('/fonts/SarasaMonoSC-Bold.ttf') format('truetype');
         
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
  --primary-color:#000;
  --secondary-color:#fff;
  
  --clock-color-day:lightblue;
  --clock-color-night:lightgreen;
  --clock-color:var(--clock-color-day);


}

html{
     font-family: 'SarasaMonoSC-Bold', sans-serif;
     font-size:62.5%;
     

}
html.dark{
  --primary-color:#fff;
  --secondary-color:#000;
  --clock-color:var(--clock-color-night);
}
html.dark{
  background-color: #000;
  color:var(--primary-color);
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  z-index:-4;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin:0;
  
}
.toggle{
  width:10rem;
  height:4rem;
  font-family: inherit;
  border:none;
  position: absolute;
  top:15%;
  background-color: var(--primary-color);
  color:var(--secondary-color);
  font-size:1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.toggle:active{
  transform: scale(0.9);
}
.clock-container{
  display: flex;
  flex-direction: column;

}
.clock{
  width:35rem;
  height: 35rem;
  background-color:var(--clock-color);
  position: relative;
  margin:2rem;
  border-radius: 50%;
  
}
.needle{
  position: absolute;
  top:50%;
  left:50%;
  width: 0.5rem;
  background-color:var(--primary-color);
  transform-origin:bottom center;
}

.needle.hour{
  transform: translate(-50%,-100%) rotate(0deg);
  height: 8rem;
  width:0.6rem;

}
.needle.minute{
  transform: translate(-50%,-100%) rotate(0deg);
  height: 12rem;
  width:0.4rem;
}
.needle.second{
  background-color: rgb(237, 21, 21);
  transform: translate(-50%,-100%) rotate(0deg);
  height: 14rem;
  width:0.2rem;
}
.needle.center-pointer{
  width: 2rem;
  height: 2rem;
  transform: translate(-50%,-50%);
  background-color:var(--primary-color);
  border-radius: 50%;
}
.date-container{
  margin-top:4rem;
  text-align: center;
  font-size:3rem;
  padding: 2rem;
  background-color: var(--primary-color);
  color:var(--secondary-color);
  border-radius: 2rem;

}
