@font-face {
  font-family: 'TiejiliSC Regular';
  src: url('/fonts/TiejiliSC-Regular.otf') format('opentype');
         
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
     font-family: 'TiejiliSC Regular', sans-serif;
     font-size:62.5%;
     

}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin:0;
  background-color: darkgray;
}
.btn{
  border:none;
  background-color: palevioletred;
  border-radius: 0.5rem;
  padding:2rem;
  font-family: inherit;
  font-size:1.5rem;
  margin:4rem;
  cursor: pointer;
}
.btn:hover{
  background-color: pink;
}
.btn:focus{
  outline: none;
}

.boxes{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 height:60rem;
 width:60rem;
 position:relative;
 



}
.boxes.split{
  width:68rem;
  height:68rem;



}

.box{
  width:15rem;
  height: 15rem;
  margin:auto;
  gap:2rem;
  background-image: url(/img/3d-boxes/preview.gif);
  background-repeat: no-repeat;
 
  background-size:60rem 60rem;
  position: relative;
  transition: 0.4s ease;
  image-rendering: crisp-edges;
  transform: translateZ(0); /* 启用GPU加速 */
  backface-visibility: hidden;
}
.box::before{
  content: '';
  background-color: #f9ca24;
  position: absolute;
  right:-1.5rem;
  top:0.7rem;
  width: 1.5rem;
  height: 100%;
  transform: skewY(45deg);


}
.box::after{
  content: '';
  background-color: #f9ca25;
  position: absolute;
  bottom: -1.5rem;
  left:0.7rem;
  width: 100%;
  height: 1.5rem;
  transform: skewX(45deg);
  
 
}
