@font-face {
  font-family: 'TiejiliSC Regular';
  src: url('/fonts/TiejiliSC-Regular.otf') format('opentype');
         
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
     font-family: 'TiejiliSC Regular', sans-serif;
     font-size:62.5%;
     

}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin:0;
  background-color: beige;
}
.container{
  width:50rem;
  height: 54rem;
  overflow: hidden;
  background-color: skyblue;
  display: flex;
  flex-direction: column;

}
.img-content{
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.img-content img{
  width:50rem;
  height: 50rem;
  object-fit: cover;

}
.btn{
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btn button{
  border:none;
  background-color: pink;
  height: 100%;
  width:49.5%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
  font-size:1.5rem;
}
.btn button:active{

  background-color: palevioletred;
}