@font-face {
  font-family: 'TiejiliSC Regular';
  src: url('/fonts/TiejiliSC-Regular.otf') format('opentype');
         
  font-weight: normal;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
     font-family: 'TiejiliSC Regular', sans-serif;
     font-size:62.5%;
     

}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: blanchedalmond;
  margin:0;
}
.card{
  width:50rem;
  height: 55rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.card-header img{
  width:100%;
  border-radius: 2rem 2rem 0 0;
  
}

.card-content{
  margin: 3rem;
}
.card-content h3{
  font-size:2rem;
  margin-bottom: 2rem;
}
.card-content p{
  font-size:1.5rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  color:gray;
}
.author{
  display: flex;
}
.author-info{
  display: flex;
  flex-direction: column;
  justify-content: top;
}
.author-info strong{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.author-info small{
  font-size: 1.5rem;
  color:gray;
}

.profile-img{
  width:5rem;
  height: 5rem;
  border-radius: 50%;
  border:2px solid slateblue;
  overflow: hidden;
  margin-right: 2rem;
}

.profile-img img{
  width: 100%;
}
